# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal

# Environment Variables
.env
.env.*
!.env.example

# Static & Media
staticfiles/
media/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# PyCharm
*.iml